@model Model.Empresa

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 margin30">
                <h3>Sobre nós</h3>
                <p>
                    @Html.DisplayFor(model => model.Resumo)
                </p>
            </div>
            <div class="col-md-6 col-sm-6 margin30">
                
            </div>
            <div class="col-md-3 col-sm-6 margin30">
                <h3>Informações de Contato</h3>
                <p>
                    <strong>@Html.DisplayFor(model => model.Nome)</strong><br>
                    <strong>creci 28.800-J</strong><br>
                    <i class="fa fa-map-marker"></i> &nbsp; 
                    @Html.DisplayFor(model => model.Endereco)
                </p>

                <p>
                    <i class="fa fa-phone"></i> &nbsp; @Html.DisplayFor(model => model.Telefone)<br />
                    @*<i class="fa fa-phone"></i> &nbsp; (18) 3217-2771<br>
                    <i class="fa fa-phone"></i> &nbsp; (18) 3203-0259 <br>
                    <i class="fa fa-phone"></i> &nbsp; (18) 9 9709-8750<br>*@

                    <i class="fa fa-envelope-o"></i> &nbsp; <a href="mailto:@Html.DisplayFor(model => model.Email)">@Html.DisplayFor(model => model.Email)</a>
                </p>
                <p>
                    <strong>Horário de funcionamento</strong><br>
                    das 9:00 hrs até as 18:00 hrs.
                </p>
            </div>
        </div>
    </div>
</footer><!--footer-->
<div class="copyright">
    <div class="container text-center">
        <span>&copy; Copyright @DateTime.Now.Year - Todos os direitos Reservados. @Html.DisplayFor(model => model.Nome). - Desenvolvido e mantido por <a href="http://mainsoftware.com.br" targe="_blank" style="color: #fff">MainSoftware</a></span>
    </div>
</div>