@model IEnumerable<Model.ImagemImovel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_LayoutAdmin.cshtml";
}

@section head{
    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="@Url.Content("~/ContentAdmin/css/dropzone.css")" />
    <link rel="stylesheet" href="~/ContentAdmin/css/colorbox.css" />
    <style type="text/css">
        #galeria li {
            margin: 3px 3px 3px 0;
            float: left;
            width: 150px;
            height: 150px;
            overflow: hidden;
        }
    </style>
}
@section breadcrumb{
    <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="@Url.Action("Index","Home", null)">Home</a>
    </li>

    <li>
        <a href="@Url.Action("Index", "Imovel")">Imóvel</a>
    </li>
    <li class="active">Nova</li>
}


<p class="hidden">Sessão: @Session["ID-ALBUM"]</p>
<div class="page-content">
    <div class="page-header">
        <h1>
            Fotos
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                Gerenciar fotos do álbum
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div>
                @Html.Action("UploadPage", "ImagemImovel")
                <br />
                <p>Arraste e solte para ordenar as imagens.</p>
                <ul id="galeria" class="ace-thumbnails clearfix ui-sortable">
                    @Html.Action("Details", "ImagemImovel", new { id = Session["ID-ALBUM"] })
                </ul>
                <br />
            </div>
        </div>
    </div>
</div>


<div id="modal-delete" class="modal fade in" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><strong>Atenção!</strong> Deseja confirmar a exclusão?</h4>
            </div>
            <div class="modal-body">
                <p>Do item: </p>
                <input type="hidden" id="hdId" name="hdId" value="" />
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    Cancelar
                </button>

                <button class="btn btn-sm btn-danger" id="excluir" name="excluir">
                    <i class="ace-icon fa fa-check"></i>
                    Excluir
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <input type="submit" value="Finalizar" class="btn btn-success" onclick="location.href = '@Url.Action("index","album")'" />
        <input type="submit" value="Voltar" class="btn btn-default" onclick="location.href = '@Url.Action("edit","album", new { id = Session["ID-ALBUM"]})'" />
    </div>
</div>

@section plugin{
    <!-- page specific plugin scripts -->
    <script src="~/ContentAdmin/js/jquery.colorbox.js"></script>
    <script src="~/ContentAdmin/js/jquery-ui.js"></script>
}

@section script{
    <script type="text/javascript">
        $("#menu-album").addClass("active open");
        $("#cancel").disableValidation = true;

        var newOrder = new Array();

        $('.ui-sortable').sortable({
            opacity: 0.7,
            revert: true,
            scroll: true,

            update: function (event, ui) {
                newOrder = new Array();

                $('.ui-sortable li').each(function (index) {
                    var id = $(this).attr("data-id");
                    newOrder.push({ 'id': id, 'nome': $(this).attr("data-nome"), 'ordem': index, 'album_id': $(this).attr("data-album") });
                    $(this).attr("data-ordem", index);
                });

                newOrder = JSON.stringify({ 'ImagemImovel': newOrder });
                console.log(newOrder);
                $.ajax({
                    data: newOrder,
                    type: 'POST',
                    url: '@Url.Action("Ordenar", "ImagemImovel")',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        console.log(data);
                    }
                });
            }
        });

        jQuery(function ($) {
            var $overflow = '';
            var colorbox_params = {
                rel: 'colorbox',
                reposition: true,
                scalePhotos: true,
                scrolling: false,
                previous: '<i class="ace-icon fa fa-arrow-left"></i>',
                next: '<i class="ace-icon fa fa-arrow-right"></i>',
                close: '&times;',
                current: '{current} of {total}',
                maxWidth: '100%',
                maxHeight: '100%',
                photo: true,
                onOpen: function () {
                    $overflow = document.body.style.overflow;
                    document.body.style.overflow = 'hidden';
                },
                onClosed: function () {
                    document.body.style.overflow = $overflow;
                },
                onComplete: function () {
                    $.colorbox.resize();
                }
            };

            $('.ace-thumbnails [data-rel="colorbox"]').colorbox(colorbox_params);
            $("#cboxLoadingGraphic").html("<i class='ace-icon fa fa-spinner orange fa-spin'></i>"); //let's add a custom loading icon


            $(document).one('ajaxloadstart.page', function (e) {
                $('#colorbox, #cboxOverlay').remove();
            });
        });

        /*modal*/
        $('#modal-delete').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var nome = button.data('nome');
            var id = button.data('id');
            $('#lbNome').text(nome);
            $('#hdId').val(id);
        });

        $('#excluir').on('click', function () {
            var id = $('#hdId').val();
            console.log("id: " + id);
            var url = '@Url.Action("Delete", "ImagemImovel")';
            $.ajax({
                url: url,
                data: { id: id},
                type: 'POST',
                ajaxasync: true,
                success: function (result) {
                    $('#modal-delete').modal('hide');
                    checkUpdate();
                },
                error: function (result) {
                    $('#modal-delete').modal('hide');
                    alert("Não foi possível excluir o registro!");
                    console.log(result);
                }
            });
            return false;
        });

        function checkUpdate() {
            console.log("id album: " +  @Session["ID-ALBUM"]);
            $.ajax({
                url: '@Url.Action("Details", "ImagemImovel", new { id = Session["ID-ALBUM"] })',
                cache: true,
                success: function (res) {
                    //console.log(res);
                    $("#galeria").html(res);
                },
            });
        }
    </script>
}