@model Model.Servico

<dt>
    @Html.DisplayNameFor(model => model.Imagem)
</dt>

<dd class="ace-thumbnails">
    <a href="@Url.Action("Servico","Img", new { id = Model.Id})" data-rel="colorbox">
        <img id="imagem" class="editable img-responsive" alt="" src="@Url.Action("Servico","Img", new { id = Model.Id})" style="max-height: 100px; padding: 5px;" />
    </a>
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Icone)
</dt>

<dd>
    @Html.DisplayFor(model => model.Icone)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Nome)
</dt>

<dd>
    @Html.DisplayFor(model => model.Nome)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Resumo)
</dt>

<dd>
    @Html.DisplayFor(model => model.Resumo)
</dd>
<dt>
    @Html.DisplayNameFor(model => model.Descricao)
</dt>

<dd>
    @Html.DisplayFor(model => model.Descricao)
</dd>
<dt>
    @Html.DisplayNameFor(model => model.Status.Nome)
</dt>

<dd>
    @Html.DisplayFor(model => model.Status.Nome)
</dd>