@model Model.Servico

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/shared/_LayoutAdmin.cshtml";
}
@section head{
    <link rel="stylesheet" href="@Url.Content("~/ContentAdmin/css/colorbox.css")" />
}
@section breadcrumb{
    <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="@Url.Action("Index","Home", null)">Home</a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Especialidade")">Especialidade</a>
    </li>
    <li class="active">Detalhes</li>
}
<div class="page-content">
    <div class="page-header">
        <h1>
            Serviço
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                Visualizar Detalhes
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <dl class="dl-horizontal">
                @Html.Partial("~/Areas/Administrativo/Views/Especialidade/_PartialDetailContentPanel.cshtml", Model)

            </dl>
        </div>
        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
        </p>
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.row -->
</div><!-- /.page-content -->

@section script{
    <script src="@Url.Content("~/ContentAdmin/js/jquery.colorbox.js")"></script>
    <script type="text/javascript">
        $("#menu-empresa").addClass("active open");
        $("#submenu-especialidades").addClass("active");


        var $overflow = '';
        var colorbox_params = {
            rel: 'colorbox',
            reposition: true,
            scalePhotos: true,
            scrolling: false,
            previous: '<i class="ace-icon fa fa-arrow-left"></i>',
            next: '<i class="ace-icon fa fa-arrow-right"></i>',
            close: '&times;',
            current: '{current} of {total}',
            maxWidth: '100%',
            maxHeight: '100%',
            photo: true,
            onOpen: function () {
                $overflow = document.body.style.overflow;
                document.body.style.overflow = 'hidden';
            },
            onClosed: function () {
                document.body.style.overflow = $overflow;
            },
            onComplete: function () {
                $.colorbox.resize();
            }
        };

        $('.ace-thumbnails [data-rel="colorbox"]').colorbox(colorbox_params);
        $("#cboxLoadingGraphic").html("<i class='ace-icon fa fa-spinner orange fa-spin'></i>");//let's add a custom loading icon


        $(document).one('ajaxloadstart.page', function (e) {
            $('#colorbox, #cboxOverlay').remove();
        });
    </script>
}

