@model Model.Empresa

@{
    ViewBag.Title = "Contato";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

@section css{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.8.0/sweetalert2.min.css" rel="stylesheet">
}
<script type="text/javascript">
    var destinatario = @Model.Email;
</script>

<div class="divide10"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <div id="property-map" style="width:100%;height: 400px;">
            </div>
        </div>
    </div> <div class="divide70"></div>

    <div class="row">
        <div class="col-sm-6 contact-column">
            <h4>Fale Conosco</h4>
            <p>
                Se você tem alguma sugestão, dúvida ou solicitação a fazer, utilize esse espaço para entrar em contato conosco.
                Teremos satisfação em responder.
            </p>
            <div class="divide10"></div>

            <div class="form-contact">
                <div class="required">
                    <p>( <span>*</span> Campos obrigatórios )</p>
                </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="row control-group">
                                <div class="form-group col-xs-12 controls">
                                    <label>Nome<span>*</span></label>
                                    <input type="text" class="form-control" placeholder="Seu Nome" id="name" required data-validation-required-message="Por favor, informe seu nome.">
                                    <p class="help-block"></p>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6">
                            <div class="row control-group">
                                <div class="form-group col-xs-12 controls">
                                    <label>Endereço de Email<span>*</span></label>
                                    <input type="email" class="form-control" placeholder="Seu e-mail" id="email" required data-validation-required-message="Por favor, informe seu e-mail.">
                                    <p class="help-block"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12  controls">
                            <label>Telefone<span>*</span></label>
                            <input type="tel" class="form-control" placeholder="Seu Telefone" id="phone" required data-validation-required-message="Por favor, informe seu telefone.">
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 controls">
                            <label>Mensagem<span>*</span></label>
                            <textarea rows="5" class="form-control" placeholder="Escreva sua mensagem" id="message" required data-validation-required-message="Por favor, escreva sua mensagem."></textarea>
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success" class="hidden"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button id="btnEnviar" name="btnEnviar" type="button" class="btn btn-red btn-lg">Enviar Mensagem</button>
                        </div>
                    </div>
                
            </div><!--contact form-->

        </div><!--col-->
        <div class="col-sm-5 col-sm-offset-1 contact-column">
            <h4>Informações de Contato</h4>
            <ul class="list-unstyled contact contact-info">
                <li><p><strong><i class="fa fa-map-marker"></i> Endereço:</strong> @Html.DisplayFor(model => model.Endereco)</p></li>
                <li><p><strong><i class="fa fa-envelope"></i> Nosso e-mail:</strong> <a href="mailto:@Html.DisplayFor(model => model.Email)">@Html.DisplayFor(model => model.Email)</a></p></li>
                <li> <p><strong><i class="fa fa-phone"></i> Telefone 1:</strong> (18) 3217-2771</p></li>
                <li> <p><strong><i class="fa fa-phone"></i> Telefone 2:</strong> (18) 3203-0259</p></li>
                <li> <p><strong><i class="fa fa-phone"></i> Whatsapp:</strong> (18) 9 9709-8750</p></li>
            </ul>
            <div class="divide40"></div>
            @*<h4>Rede social</h4>
            <ul class="list-inline social-1">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
            </ul>*@
        </div>
    </div><!--row-->
</div>
<div class="divide70"></div>
<div class="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 text-center">
                <h3>Deseja anunciar sua propriedade aqui? </h3>
            </div>
            <div class="col-sm-4 text-center">
                <a href="#">Anunciar Propriedade Agora</a>
            </div>
        </div>
    </div>
</div>

@section script{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.8.0/sweetalert2.min.js"></script>
    <script type='text/javascript' src='http://maps.googleapis.com/maps/api/js?key=AIzaSyBU7wcTnef3GwcAzGTGCrX-1uEwpMRRoM4&v=3&#038;sensor=true&#038;ver=3.6'></script>
    <script type='text/javascript' src='~/Content/js/gmap3.infobox.min.js'></script>
    <script src="~/Scripts/app/Contato.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {

            //maps
            function LoadMapProperty() {
                var locations = new Array(
                        [@Html.DisplayFor(model => model.Latitute), @Html.DisplayFor(model => model.Longitude)]
                        );
                var types = new Array(
                        'family-house'
                        );
                var markers = new Array();
                var plainMarkers = new Array();

                var mapOptions = {
                    center: new google.maps.LatLng(@Html.DisplayFor(model => model.Latitute), @Html.DisplayFor(model => model.Longitude)),
                    zoom: 16,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    scrollwheel: false
                };

                var map = new google.maps.Map(document.getElementById('property-map'), mapOptions);

                $.each(locations, function (index, location) {
                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng(location[0], location[1]),
                        map: map,

                    });

                    var myOptions = {
                        draggable: true,
                        content: '<div class="marker ' + types[index] + '"><div class="marker-inner"></div></div>',
                        disableAutoPan: true,
                        pixelOffset: new google.maps.Size(-21, -58),
                        position: new google.maps.LatLng(location[0], location[1]),
                        closeBoxURL: "",
                        isHidden: false,
                        // pane: "mapPane",
                        enableEventPropagation: true
                    };
                    marker.marker = new InfoBox(myOptions);
                    marker.marker.isHidden = false;
                    marker.marker.open(map, marker);
                    markers.push(marker);
                });

                google.maps.event.addListener(map, 'zoom_changed', function () {
                    $.each(markers, function (index, marker) {
                        marker.infobox.close();
                    });
                });
            }

            google.maps.event.addDomListener(window, 'load', LoadMapProperty);

            var dragFlag = false;
            var start = 0, end = 0;

            function thisTouchStart(e) {
                dragFlag = true;
                start = e.touches[0].pageY;
            }

            function thisTouchEnd() {
                dragFlag = false;
            }

            function thisTouchMove(e) {
                if (!dragFlag)
                    return;
                end = e.touches[0].pageY;
                window.scrollBy(0, (start - end));
            }

            document.getElementById("property-map").addEventListener("touchstart", thisTouchStart, true);
            document.getElementById("property-map").addEventListener("touchend", thisTouchEnd, true);
            document.getElementById("property-map").addEventListener("touchmove", thisTouchMove, true);
        });

    </script>
}