@model Model.Publicacao

<dt>
    @Html.DisplayNameFor(model => model.Imagem)
</dt>

<dd class="ace-thumbnails">
    <a href="@Url.Action("Publicacao","Img", new { id = Model.Id})" data-rel="colorbox">
        <img id="imagem" class="editable img-responsive" alt="" src="@Url.Action("Publicacao","Img", new { id = Model.Id})" style="max-height: 100px; padding: 5px;" />
    </a>
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Titulo)
</dt>

<dd>
    @Html.DisplayFor(model => model.Titulo)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Resumo)
</dt>

<dd>
    @Html.DisplayFor(model => model.Resumo)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Status)
</dt>

<dd>
    @Html.DisplayFor(model => model.Status.Nome)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Texto)
</dt>

<dd>
    @Html.Raw(Model.Texto)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.DataPublicacao)
</dt>

<dd>
    @Html.Raw(Model.DataPublicacao)
</dd>

<dt>
    Categorias
</dt>

<dd>
    @foreach (var item in Model.PublicacaoPorCategoria)
    {
        <p>@item.CategoriaPublicacao.Nome</p>
    }
</dd>