@model Model.Pessoa
<dt>
    @Html.DisplayNameFor(model => model.PerfilPessoa.Descricao)
</dt>
<dd>
    @Html.DisplayFor(model => model.PerfilPessoa.Descricao)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Ativo)
</dt>
<dd>
    @(Model.Ativo ? "Sim" : "Não")
</dd>

<dt>
    @Html.DisplayNameFor(model => model.DataCadastro)
</dt>
<dd>
    @Html.DisplayFor(model => model.DataCadastro)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Nome)
</dt>
<dd>
    @Html.DisplayFor(model => model.Nome)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.DataNascimento)
</dt>
<dd>
    @Html.DisplayFor(model => model.DataNascimento)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.CpfCnpj)
</dt>
<dd>
    @Html.DisplayFor(model => model.CpfCnpj)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.DocumentoProfissional)
</dt>
<dd>
    @Html.DisplayFor(model => model.DocumentoProfissional)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Telefone)
</dt>
<dd>
    @Html.DisplayFor(model => model.Telefone)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Celular)
</dt>
<dd>
    @Html.DisplayFor(model => model.Celular)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Whatsapp)
</dt>
<dd>
    @Html.DisplayFor(model => model.Whatsapp)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Email)
</dt>
<dd>
    @Html.DisplayFor(model => model.Email)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Skype)
</dt>
<dd>
    @Html.DisplayFor(model => model.Skype)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Url)
</dt>
<dd>
    <a href="@Html.DisplayFor(model => model.Url)" target="_blank">@Html.DisplayFor(model => model.Url)</a>
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Bio)
</dt>
<dd>
    @Html.DisplayFor(model => model.Bio)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Observacao)
</dt>
<dd>
    @Html.DisplayFor(model => model.Observacao)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Interesse)
</dt>
<dd>
    @Html.DisplayFor(model => model.Interesse)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Oferecido)
</dt>
<dd>
    @Html.DisplayFor(model => model.Oferecido)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Informacao)
</dt>
<dd>
    @Html.DisplayFor(model => model.Informacao)
</dd>
