@model Model.ClienteParceiro

@{
    ViewBag.Title = "Excluir";
    Layout = "~/Views/shared/_LayoutAdmin.cshtml";
}

@section head{
    <link rel="stylesheet" href="@Url.Content("~/ContentAdmin/css/colorbox.css")" />
}
@section breadcrumb{
    <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="@Url.Action("Index","Home", null)">Home</a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Cliente")">Cliente</a>
    </li>
    <li class="active">Excluir</li>
}
<div class="page-content">
    <div class="page-header">
        <h1>
            Cliente
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                Excluir
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->

            <h3>Confirmar a exclusão do item abaixo?</h3>
            <dl class="dl-horizontal">
                @Html.Partial("~/Areas/Administrativo/Views/Cliente/_PartialDetailContentPanel.cshtml", Model)
            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Excluir" class="btn btn-danger" /> |
                    @Html.ActionLink("Voltar / Cancelar", "Index", null, new { @class = "btn btn-default" })
                </div>
            }
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->

@section plugin{
    <script src="@Url.Content("~/ContentAdmin/js/jquery.colorbox.js")"></script>
}
@section script{
    <script type="text/javascript">
        $("#menu-cliente").addClass("active open");

        var $overflow = '';
        var colorbox_params = {
            rel: 'colorbox',
            reposition: true,
            scalePhotos: true,
            scrolling: false,
            previous: '<i class="ace-icon fa fa-arrow-left"></i>',
            next: '<i class="ace-icon fa fa-arrow-right"></i>',
            close: '&times;',
            current: '{current} of {total}',
            maxWidth: '100%',
            maxHeight: '100%',
            photo: true,
            onOpen: function () {
                $overflow = document.body.style.overflow;
                document.body.style.overflow = 'hidden';
            },
            onClosed: function () {
                document.body.style.overflow = $overflow;
            },
            onComplete: function () {
                $.colorbox.resize();
            }
        };

        $('.ace-thumbnails [data-rel="colorbox"]').colorbox(colorbox_params);
        $("#cboxLoadingGraphic").html("<i class='ace-icon fa fa-spinner orange fa-spin'></i>");//let's add a custom loading icon


        $(document).one('ajaxloadstart.page', function (e) {
            $('#colorbox, #cboxOverlay').remove();
        });
    </script>
}