@model Model.Slide

<dt>
    @Html.DisplayNameFor(model => model.Imagem)
</dt>

<dd class="ace-thumbnails">
    <a href="@Url.Action("Slide","Img", new { id = Model.Id})" data-rel="colorbox">
        <img id="imagem" class="editable img-responsive" alt="" src="@Url.Action("Slide","Img", new { id = Model.Id})" style="max-height: 100px; padding: 5px;" />
    </a>
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Titulo)
</dt>

<dd>
    @Html.DisplayFor(model => model.Titulo)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Subtitulo)
</dt>

<dd>
    @Html.DisplayFor(model => model.Subtitulo)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Url)
</dt>

<dd>
    @Html.DisplayFor(model => model.Url)
</dd>