@model IEnumerable<Model.Equipe>

<div class="center-title">
    <h3>Nossos Corretores</h3>
    <p>
        Entre em contato com algum de nossos corretores
    </p>
</div>
<div class="row">

    @foreach(var item in Model)
    {
        <div class="col-md-3 col-sm-6 margin30">
            <div class="agent-box">
                <img src="@Url.Action("Equipe","Img", new { id = item.Id})" class="img-circle img-responsive" width="200" alt="@Html.DisplayFor(modelItem => item.Pessoa.Nome)">
                <h3>@Html.DisplayFor(modelItem => item.Pessoa.Nome)</h3>
                <p>Creci @Html.DisplayFor(modelItem => item.DocumentoProfissional)</p>
                <p>@Html.DisplayFor(modelItem => item.Pessoa.Celular)</p>
                <p>@Html.DisplayFor(modelItem => item.Pessoa.Email)</p>
            </div>
        </div>
    }

   

</div>