@model IEnumerable<Model.Imovel>

@{
    ViewBag.Title = "Busca por imóveis";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
@section css{
    <link href="~/Content/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <style type="text/css">
        div#modalLoading {
            position: absolute;
            top: 30em;
        }

        .txt-loading {
            font-size: 2.5rem;
            vertical-align: middle;
            position: absolute;
            top: 1.0em;
            margin-left: 1.0em;
        }

        
    </style>
}
<div class="divide10"></div>
<div class="container">
    <div class="row ">
        
            <h3 class="title-section">Busca</h3>
            <div class="hidden alert alert-info col-md-10 col-md-offset-1" role="alert">
                <strong>Em Breve!</strong>
                <p>Aguarde! Em breve será possível realizar uma busca avançada em todos os nossos imóveis. Acompanhe-nos e fique por dentro das novidades.</p>
                <p>Estamos trabalhando, para melhor servi-lo.</p>
                <p><a href="@Url.Action("Index","Imovel",null)">Clique aqui para ver nosso imóveis publicado</a>.</p>
            </div>
        
    </div>

    <div class="row">
        @using (Html.BeginForm("Busca", "Busca", FormMethod.Get))
        { 
            <div class="row margin30">
                <div class="col-sm-4">
                    <div class="form-group">
                        <input type="text" id="Id" name="Id" class="form-control" placeholder="Código">
                    </div>
                    <div class="form-group select-option">
                        <section>
                            @Html.DropDownList("CidadeUrl", null, "Qual Cidade?", htmlAttributes: new { @class = "cs-select cs-skin-elastic" })
                        </section>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" id="Endereco" name="Endereco" class="form-control" placeholder="Endereço">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <section>
                                    @Html.DropDownList("BairroUrl", null, "Qual Bairro?", htmlAttributes: new { @class = "form-control" })
                                </section>
                            </div>
                        </div>
                        <div class="col-sm-6 select-option">
                            <div class="form-group">
                                <section>
                                    @Html.DropDownList("TipoImovelId", null, "Qual Tipo?", htmlAttributes: new { @class = "cs-select cs-skin-elastic" })
                                </section>
                            </div>
                        </div>
                        <div class="col-sm-6 select-option">
                            <div class="form-group">
                                <section>
                                    @Html.DropDownList("TipoContratoId", null, "Qual Finalidade?", htmlAttributes: new { @class = "cs-select cs-skin-elastic" })
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--row-->
           <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <input type="text" id="Valor" name="Valor" readonly style="border:0; color:#f6931f; font-weight:bold; width: 100%;">
                        <div id="slider-range"></div>
                    </div>
                </div>
                <div class="col-sm-2 select-option">
                    <div class="form-group">
                        <section>
                            <select id="Dormitorio" name="Dormitorio" class="cs-select cs-skin-elastic">
                                <option value="" disabled selected>Dormitórios</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4+</option>
                            </select>
                        </section>
                    </div>
                </div>
                <div class="col-sm-2 select-option">
                    <div class="form-group">
                        <section>
                            <select id="Suite" name="Suite" class="cs-select cs-skin-elastic">
                                <option value="" disabled selected>Suite</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4+</option>
                            </select>
                        </section>
                    </div>
                </div>
                <div class="col-sm-2 select-option">
                    <div class="form-group">
                        <section>
                            <select id="Banheiro" name="Banheiro" class="cs-select cs-skin-elastic">
                                <option value="" disabled selected>Banheiros</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4+</option>
                            </select>
                        </section>
                    </div>
                </div>
                <div class="col-sm-2 select-option">
                    <div class="form-group">
                        <section>
                            <select id="Garagem" name="Garagem" class="cs-select cs-skin-elastic">
                                <option value="" disabled selected>Garagem</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4+</option>
                            </select>
                        </section>
                    </div>
                </div>
            </div>

            <div class="form-group text-right">
                <button type="submit" class="btn btn-red btn-lg">Buscar</button>
            </div>
        }
    </div>

    
</div>

<div class="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 text-center">
                <h3>Deseja anunciar seu imóvel aqui? </h3>
            </div>
            <div class="col-sm-4 text-center">
                <a href="@Url.Action("Index", "CadastrarMeuImovel", null)">Anunciar Imóvel Agora</a>
            </div>
        </div>
    </div>
</div><!--call to action-->



<div class="modal fade" id="modalLoading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                <span class="txt-loading">Por favor, aguarde, estamos realizando a sua busca</span>
            </div>
        </div>
    </div>
</div>

@section script{
<script src="~/Content/jquery-ui/jquery-ui.min.js"></script>
<script src="~/Scripts/app/Busca.js"></script>
<script type="text/javascript">
    $(function () {
        $("#slider-range").slider({
            range: true,
            min: 30000,
            max: 1000000,
            step: 10000,
            values: [100000, 300000],
            slide: function (event, ui) {
                if (ui.values[1] == 1000000) {
                    $("#Valor").val("Valor a partir de R$" + ui.values[0] + ", e mais que R$" + ui.values[1]);
                } else {
                    $("#Valor").val("Valor a partir de R$" + ui.values[0] + ", até R$" + ui.values[1]);
                }
            }
        });

        $("#Valor").val("Valor a partir de R$" + $("#slider-range").slider("values", 0) +
            ", até R$" + $("#slider-range").slider("values", 1));
    });
</script>
    
}