@model Model.Link
@{
    ViewBag.Title = "Novo";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section breadcrumb{
    <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="@Url.Action("Index","Home", null)">Home</a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Link")">Link</a>
    </li>
    <li class="active">Novo</li>
}

<div class="page-content">
    <div class="page-header">
        <h1>
            Link
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                Adicionar Novo
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            @Html.Partial("~/Views/Shared/_PartialAlert.cshtml", Model)

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.Partial("~/Areas/Administrativo/Views/Link/_PartialEditContentPanel.cshtml", Model)

            }
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->


@section plugin{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    
}

@section script{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#menu-link").addClass("active open");
            
        });
    </script>
}